@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="foreground">
    <h1>@ViewData["Title"]</h1>

    <p style="text-align: justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta metus ut lacus aliquet porta. Nulla facilisi. Integer pharetra justo in semper rhoncus. In sit amet magna purus. Aliquam hendrerit augue augue, ut commodo felis tempor sit amet. In lacinia tincidunt arcu quis volutpat. Nunc ac metus ut turpis eleifend accumsan. Proin sit amet libero in elit elementum volutpat finibus vel est. Cras cursus justo ut mollis pharetra. Maecenas interdum velit sem, sed commodo sapien pulvinar eu. <br /><br />
        Nam hendrerit purus ante, a suscipit dolor facilisis vitae. Donec arcu sapien, eleifend a eros eu, pharetra posuere eros. Nam finibus facilisis lectus, nec gravida nisi cursus ut. Nam vel lacinia sapien, a dapibus metus. Praesent nisi purus, rhoncus sed tortor sed, hendrerit ultrices odio. Donec molestie consequat tempus. Proin in facilisis nunc, et dignissim dui. Aliquam at augue in justo varius tristique. Sed quis convallis nisi. Proin luctus neque sit amet ex fringilla tincidunt.<br /><br />
        Sed gravida pulvinar nulla at mattis. Nulla in justo mi. Ut sed tortor elit. Nullam eleifend sem ac tincidunt blandit. Nam enim massa, ultricies dictum ligula ut, ultrices tempor erat. Praesent eu velit metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus in eleifend sapien. Vestibulum et magna ut nulla pretium aliquam in vel sem. Nulla blandit, leo vel facilisis consectetur, libero sapien finibus quam, elementum auctor purus lectus at felis.<br /><br />
        Ut placerat elementum fermentum. Nulla sed odio vel urna tristique imperdiet. Etiam id augue luctus, luctus tortor eget, porttitor urna. Maecenas malesuada mauris viverra sapien congue dictum. Praesent imperdiet urna sit amet dolor dapibus vestibulum. Sed hendrerit imperdiet nisl, quis semper mauris ultrices a. Sed in posuere tellus.<br /><br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at nulla eget purus condimentum fermentum. Phasellus vehicula ante rhoncus augue imperdiet, finibus condimentum eros ultrices. Nullam porttitor massa eget arcu euismod sollicitudin. Maecenas dapibus suscipit arcu, sit amet porta dui. Curabitur eleifend tempor nulla rutrum sollicitudin. Quisque tempor facilisis metus at ultrices. Pellentesque at lacus eget nisl vulputate luctus ac et purus. Ut fringilla a sem quis pharetra. Sed faucibus lorem sed lacus volutpat, ac hendrerit erat commodo. Donec eleifend purus nisl, sed tincidunt quam congue non.
    </p>
</div>
